 @font-face {
     font-family: 'Digital Desolation Plus';
     src: url('../fonts/Digital-Desolation-Plus.eot');
     src: url('../fonts/Digital-Desolation-Plus.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Digital-Desolation-Plus.woff2') format('woff2'),
     url('../fonts/Digital-Desolation-Plus.woff') format('woff'),
     url('../fonts/Digital-Desolation-Plus.ttf') format('truetype'),
     url('../fonts/Digital-Desolation-Plus.svg#Digital-Desolation-Plus') format('svg');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'Digital dream Fat';
     src: url('../fonts/DigitaldreamFat.eot');
     src: url('../fonts/DigitaldreamFat.eot?#iefix') format('embedded-opentype'),
     url('../fonts/DigitaldreamFat.woff2') format('woff2'),
     url('../fonts/DigitaldreamFat.woff') format('woff'),
     url('../fonts/DigitaldreamFat.ttf') format('truetype'),
     url('../fonts/DigitaldreamFat.svg#DigitaldreamFat') format('svg');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'Scriptina';
     src: url('../fonts/Scriptina.eot');
     src: url('../fonts/Scriptina.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Scriptina.woff2') format('woff2'),
     url('../fonts/Scriptina.woff') format('woff'),
     url('../fonts/Scriptina.ttf') format('truetype'),
     url('../fonts/Scriptina.svg#Scriptina') format('svg');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'Reality Hyper';
     src: url('../fonts/RealityHyperRegular.eot');
     src: url('../fonts/RealityHyperRegular.eot?#iefix') format('embedded-opentype'),
     url('../fonts/RealityHyperRegular.woff2') format('woff2'),
     url('../fonts/RealityHyperRegular.woff') format('woff'),
     url('../fonts/RealityHyperRegular.ttf') format('truetype'),
     url('../fonts/RealityHyperRegular.svg#RealityHyperRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }


 body {
     margin: 0;
     padding: 0;
     background: rgb(249, 249, 249);
     color: rgb(72, 72, 72);
     width: calc(100vw-17px);
 }

 table,
 tr,
 td,
 div {
     border-collapse: collapse;
     border-color: none;
     background: none;
     padding: 0px;

 }

 .cpyrightbase {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-flow: row wrap;
     -ms-flex-flow: row wrap;
     justify-content: center;
     -ms-flex-pack: center;
     align-items: stretch;
     -ms-flex-align: stretch;
     font-size: 8pt;
     color: rgb(150, 150, 150);
     padding: 4pt;
     margin: 0;
 }

 .footercont {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-flow: row wrap;
     -ms-flex-flow: row wrap;
     justify-content: space-between;
     -ms-flex-pack: justify;
     align-items: center; //border:1px solid red;
     -ms-flex-align: center;
     opacity: 1;
 }

 .footer {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-flow: column wrap;
     -ms-flex-flow: column wrap;
     justify-content: flex-start;
     -ms-flex-pack: start;
     align-items: flex-end;
     -ms-flex-align: end;
     margin-right: 20pt;
     padding: 0; //border:1px solid red;
     flex: 0 0 75pt;
 }

 .footer a {
     font-family: 'Digital dream Fat';
     padding: 3pt;
     text-decoration: none;
     color: rgb(249, 249, 249);
     font-size: 5pt; //border:1px solid red;    
 }

 .footer a:hover {
     color: darkkhaki;
 }

 .lownavmenu {
     font-size: 9pt;
     color: rgb(249, 249, 249); //border:1px solid red;
     flex: 0 0 auto;
 }

 .lownavmenu a {
     font-family: 'Digital dream Fat';
     font-size: 8pt;
     color: rgb(249, 249, 249);
 }

 @media only screen and (max-width: 680px) {
     .lownavmenu {
         display: none;
     }
 }

 .lownavmenu > a {
     text-decoration: none;
 }

 .lownavmenu > a:hover {
     color: darkkhaki;
 }

 .logo {
     height: 50pt;
     width: 50pt;
     margin-left: 30pt;
     margin-top: 10pt;
     margin-bottom: 10pt; //border:1px solid red;
     flex: 0 0 auto;
 }

 .navmenu {
     position: absolute;
     left: 0;
     bottom: 0;
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-flow: row nowrap;
     -ms-flex-flow: row nowrap;
     justify-content: space-evenly;
     -ms-flex-pack: justify;
     align-items: flex-end;
     -ms-flex-align: end;
     text-align: center;
     width: 100%; //border:1px solid red;
 }

 .navmenu a {
     font-family: 'Digital Desolation Plus';
     text-decoration: none;
     font-size: 10pt; //border:1px solid black;
     flex: 1 1 20%;
     padding: 10pt;
 }

 .navmnu2 {
     display: none;
 }

 .mnuic {
     display: none;
 }

 .navmenusmallvisible {
     display: none;
 }

 @media only screen and (max-width: 850px) {
     .navmenu{
         display: none;
     }

     .navmnu2 {
         //position:relative;
         //left: 0;
         //bottom:0;
         display: -webkit-box;
         display: -moz-box;
         display: -ms-flexbox;
         display: -webkit-flex;
         display: flex;
         -webkit-flex-flow: column nowrap;
         -ms-flex-flow: column nowrap;
         justify-content: flex-end;
         -ms-flex-pack: end;
         align-items: stretch;
         -ms-flex-align: stretch;
         cursor: pointer;
         width: 100%; 
         //z-index: 1;
     }

     .mnuic {
         position: absolute;
         bottom: 0;
         left: 0;
         color: rgb(240, 240, 240);
         font-size: 25pt; //border:1px solid black;
         width: 100%; //height:25pt;
         text-align: center; //border: 1px solid red;
         //vertical-align: middle;
         padding-top: 0.5pt;
         padding-bottom: 0.5pt;
         background: rgba(0, 0, 0, 0.68);
         -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#AD000000,endColorstr=#AD000000)";
         zoom: 1;
         cursor: pointer;
         display: block; //z-index: 1;
     }

     .navmnu2:hover .navmenusmallvisible {
         position: absolute;
         top: 37.5vw;
         left: 0;
         display: -webkit-box;
         display: -moz-box;
         display: -ms-flexbox;
         display: -webkit-flex;
         display: flex;
         -webkit-flex-flow: column nowrap;
         -ms-flex-flow: column nowrap;
         justify-content: flex-start;
         -ms-flex-pack: start;
         align-items: stretch;
         text-align: center;
         -ms-flex-align: center;
         width: 100%;
         z-index: 1;
     }

     .navmenusmallvisible a {
         font-family: 'Digital Desolation Plus';
         text-decoration: none;
         color: rgb(240, 240, 240);
         font-size: 10pt;
         flex: 1 1 100%;
         padding: 10pt;
         background: rgba(0, 0, 0, 0.8);
         -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)";
         zoom: 1;
     }

     .navmenusmallvisible a:hover {
         background: rgba(0, 0, 0, 0);
         -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000)";
         zoom: 1;
         color: black;
     }
 }

 .mainimg {
     position: relative;
     background-repeat: no-repeat;
     background-position: top center;
     height: 37.5vw;
     width: 100vw;
     background-size: cover;
     text-align: center;
     vertical-align: bottom;
     margin: 0;
     padding: 0;
     border-collapse: collapse;
 }

 .contentcont {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-flow: row wrap;
     -ms-flex-flow: row wrap;
     justify-content: center;
     -ms-flex-pack: center;
     align-items: baseline;
     -ms-flex-align: baseline;
 }

 .contentcont .frame {
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-flow: column wrap;
     -ms-flex-flow: column wrap;
     justify-content: flex-start;
     -ms-flex-pack: start;
     align-items: flex-start;
     -ms-flex-align: start;
     flex: 0 1 80vw;
     margin-top: 30pt;
     margin-bottom: 30pt;
 }

 @media only screen and (max-width: 400px) {
     .contentcont .frame {
         flex: 0 1 90vw;
     }
 }

 .arch {
     color: rgba(210, 210, 210, 0.65);
     position: absolute;
     bottom: 62.5%;
     right: 31.5%;
     font-size: 9pt;
     font-weight: bold;
     transform: rotateX(-25deg) rotateY(40deg) rotateZ(15deg);
 }

 .impl {
     color: rgba(210, 210, 210, 0.65);
     position: absolute;
     bottom: 68.5%;
     right: 32.6%;
     font-size: 9pt;
     font-weight: bold;
     transform: rotateX(-25deg) rotateY(40deg) rotateZ(15deg);
 }

 .integ {
     color: rgba(210, 210, 210, 0.65);
     position: absolute;
     bottom: 76%;
     right: 32.2%; //transform-origin:24.8% 68.3% 0;
     font-size: 9pt;
     font-weight: bold;
     transform: rotateX(-25deg) rotateY(40deg) rotateZ(15deg);
 }

 .cal {
     color: rgba(210, 210, 210, 0.65);
     position: absolute;
     bottom: 81.8%;
     right: 30.1%;
     font-size: 9pt;
     font-weight: bold;
     transform: rotateX(-25deg) rotateY(40deg) rotateZ(15deg);
 }

 .verif {
     color: rgba(210, 210, 210, 0.65);
     position: absolute;
     bottom: 82%;
     right: 26.7%;
     font-size: 9pt;
     font-weight: bold;
     transform: rotateX(-25deg) rotateY(40deg) rotateZ(15deg);
 }

 .aspice {
     color: rgba(210, 210, 210, 0.85);
     position: absolute;
     top: 3%;
     right: 21%;
     font-size: 12pt;
     font-weight: bold;
     transform: rotateX(-25deg) rotateY(40deg) rotateZ(20deg);
 }

 .sw {
     color: rgba(210, 210, 210, 0.75);
     position: absolute;
     bottom: 70.35%;
     right: 28%;
     font-size: 12pt;
     font-weight: bold;
     transform: rotateX(-25deg) rotateY(45deg) rotateZ(35deg);
 }
